@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$font-tech: 'Share Tech Mono', monospace;
$font-color: white;

$button-border: 3px solid white;
$button-background: black;
$button-border-radius: 10px;
$button-drop-shadow: drop-shadow(10px 5px 4px black);