@import './vars';

.cards {
    background-color: $background-green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -10%;
    aspect-ratio: 1.9/ 1;
    
    .playing-cards {
        width: 17%;
        height: 65%;
    }
}