@import './vars';

.cards {
    width: 100%;
    background-color: $background-green;
    display: flex;
    justify-content: space-around;

    // img {
    //     width: 15%;
    //     height: auto;
    // }
    
    .playing-cards {
        width: 18%;
        height: 75%;
    }

}