@import './vars';

.controls {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $font-tech;

    .bet-one, .draw, .bet-max {
        height: 75%;
        width: 20%;
        border: $button-border;
        border-radius: $button-border-radius;
        background-color: $button-background;
        color: $font-color;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        filter: $button-drop-shadow;
    }
}    