.hold-buttons {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        width: 18%;
        height: 60%;
    }
        
    .hold-button {
        border: 2px solid black;
        width: 18%;
        height: 75%;
    }
}