@import './vars';

.pay {
    font-family: $font-tech;
    font-size: 0.8rem;
    text-align: center;
    color: $font-color;
    padding: 1.5rem 0;
}

table {
    font-weight: 100;
}

.col {
    margin: 8px;
    padding: 6px 6px;
}

.head {
    margin-left: 10px;
}

.active {
    background: greenyellow;
    color: black;
}

.paytable {
    margin: 1rem 0;
}