@import './vars';

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1.1fr;
    grid-template-rows: 2fr 1fr;
    width: 100vw;
    height: 100vh;
}

.odds { 
    grid-area: 1 / 1 / 2 / 2; 
}

.table { 
    grid-area: 1 / 2 / 2 / 3; 
}

.pay {
    grid-area: 1 / 3 / 2 / 4; 
}

.credits { 
    grid-area: 2 / 1 / 3 / 2; 
}

.outcome { 
    grid-area: 2 / 2 / 3 / 3; 
}

.hints { 
    grid-area: 2 / 3 / 3 / 4; 
}

.odds, .table, .pay, .credits, .outcome, .hints {
    background: $background-green;
} 

@media (max-width: 700px) { 
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .table { grid-area: 1 / 1 / 2 / 2; }
    .credits { grid-area: 2 / 1 / 3 / 2; }
    .outcome { grid-area: 3 / 1 / 4 / 2; }
    .pay { grid-area: 4 / 1 / 5 / 2; }
    .odds { grid-area: 5 / 1 / 6 / 2; }
    .hints { grid-area: 6 / 1 / 7 / 2; }
}