.table {
    display: flex;
    flex-direction: column;

    .cards, .hold-buttons, .controls {
        width: 100%;
    }

    .cards {
        height: 70%;
    }

    .hold-buttons {
        background-color: orange;
        height: 10%;
        z-index: -1;
    }
}